body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: #e5e7eb;
    font-size: 18px;
   text-decoration: none; 
   
}

button {
    display: flex;
    max-width: 100px;
    border: none;
    border-radius: 8px;
    background: blue;
    padding: 8px 16px;
    justify-content: center;
    color: #e5e7eb;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header,
.footer {
    background-color: #1f2937;
    flex-basis: 64px;
    display: flex;
    align-items: center;
    color: white;
}

.header {
    justify-content: space-around;
}

.footer { 
    justify-content: center;
    font-size: small;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    
}

.first-section,
.second-section,
.third-section,
.fourth-section {
    display: flex;
    flex: 1;
}

.first-section {
    background-color: #1f2937;
    gap: 40px;
    padding: 50px;
}
.first-left,
.first-right {
    display: flex;
    flex: 1;
}
.first-left {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 120px;
    justify-content: start;
    gap: 10px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.information-header {
    font-size: 32px;
    font-weight: 900;
}

.deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 200px;
}

.image-container {
    border-radius: 8px;
    border-width: 2px;;
    border-color: blue;
    border-style: solid;
    height: 100px;
    width: 100px;
    padding: 1rem; 
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.third-section {
    background-color: #e5e7eb;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;

}

.quote-speaker {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

 .fourth-section {
    margin: 0;
    padding: 50px;
    justify-content: center;
 }

 .blue-box {
    display: flex;
    gap: 80px;
    align-items: center;
    background: blue;
    border-radius: 8px;
    padding: 40px;
    color: white;
 }

 .top-text {
    font-size: 20px;
    font-weight: bolder;
 }